<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDOXOZ5j9cRdPl4SJB8WjADs8B2ZkAvu84</string>
	<key>GCM_SENDER_ID</key>
	<string>92946500465</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.usersApp</string>
	<key>PROJECT_ID</key>
	<string>uberclone-app-withadmin</string>
	<key>STORAGE_BUCKET</key>
	<string>uberclone-app-withadmin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:92946500465:ios:9b97be8211cc7bdee044d0</string>
</dict>
</plist>